doctype html
html
    include elements/header.pug 
        link(rel='stylesheet', href='/stylesheets/styled.css')
        link(rel='stylesheet', href='/stylesheets/cabinet/cabinet.css')
        title Фототехника
    body
    
        block content
    include elements/footer.pug
    